<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="../static/index.css" rel="stylesheet">
  <title>华师匣子Q&A</title>
</head>
<body>
  <div class="container">
    <header>
      自打华师匣子上线以来，受到好评的同时，也出现了许多不足，下面是各匣客的意见反馈整理，希望能对匣客你当前遇到的问题有所帮助！
    </header>
    <div class="item">
      <div class="question">
        匣客：为什么课程不能自动导入哎？
      </div>
      <div class="answer">
        匣爸：匣子的课程信息是自动导入的，会自动与信息门户的课程信息同步。初次导入时由于网速等原因影响，会导致加载时间较长，可过2-3分钟后再查阅。<span>（比心）</span>
      </div>
    </div>
    <div class="item">
      <div class="question">
        匣客：为什么课程表不能够增删课程呢？
      </div>
      <div class="answer">
        匣爸：你可能未下载最新版匣子呢，最新版匣子已经解决了该问题。同时，匣爸提醒各位匣客，匣子只能对“手动添加”的课程进行删除。<span>（未更新至最新版的匣客们赶紧更新啦！）</span>
      </div>
    </div>
    <div class="item">
      <div class="question">
        匣客：为什么现在是第四周，但是课表显示的是第一周啊？
      </div>
      <div class="answer">
        匣爸：由于匣子无法判断每学期匣客们的开学时间，这个需要匣客你手动设置呢~
      </div>
    </div>
    <div class="item">
      <div class="question">
        匣客：为什么我登录不了啊，明明账号密码没有错误啊？！
      </div>
      <div class="answer">
        匣爸：可能由于当前请求人数过多，学校服务器暂时性维稳，导致匣客你无法登录匣子，请稍后再做登录操作。
      </div>
    </div>
    <div class="item">
      <div class="question">
        匣客：电费查询为什么总是显示宿舍不存在或加载不出来？
      </div>
      <div class="answer">
        匣爸：学校电费查询平台是我校最脆弱的信息平台，多人同时或一人同时多次查询就会引起学校查询平台故障，匣子也无法请求信息。所以匣爸建议各位匣客，一般不要在同一时间更换不同的寝室，对电费进行多次查询，如当前无法查询，请稍后再试。
      </div>
    </div>
    <div class="item">
      <div class="question">
        匣客：图书馆功能当中可否实现预约借书呢，感觉有这个功能的话会给同学们提供很大方便。
      </div>
      <div class="answer">
        匣爸：谢谢匣客的建议，匣爸也有想过要便利华师同学们的借书体验，比如热门图书预约后可进行图书已被归还提醒等，匣子将会在匣客们的建议和支持下变得越来越完善，敬请期待！
      </div>
    </div>
    <div class="item">
      <div class="question">
        匣客：我对华师匣子说了很多意见，会不会像是在挑刺呀？
      </div>
      <div class="answer">
        匣爸：当然不会！匣爸十分珍惜匣客们提出的建议，并想着努力完善华师匣子的功能给匣客们带来更好地体验，打造更方便的校园生活。
      </div>
    </div>
    <div class="footer-content">如匣客你读完所有的内容仍无法解决当前遇到的问题，可在“意见反馈”将情况告知我们。同时，留下你的联系方式，匣爸将会快马加鞭地与你取得联系，帮你解决问题，更会有意想不到的福利在等你！或是直接联系匣爸，匣爸都会尽快给你处理。<span>（比心）</span></div>
    <footer>
      <p>
        匣爸联系方式：
        <br>
        673681507（QQ）
        <br>
        华师匣子交流群：
        <br>
        576225292
     </p>
    </footer>
  </div>
</body>
</html>
